*.yml
wf-scratch/
scitech/
Images2/
annotations2/
wf-output/
workflow_v1.ipynb
Untitled.ipynb
Test.ipynb
Scratch.ipynb
.DS_Store
.ipynb_checkpoints/
Images_saved
tils/__pycache__/
pegasus.properties
scratch/hpo_study_mask_detection.pkl
hpo_study_mask_detection.pkl
utils/__pycache__/
